html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: #160d2a;
}

H1,
h2,
H3 {
  font-family: "IBM Plex Serif", serif;
  font-size: 14pt;
  margin-bottom: 30px;
}

p {
  font-size: 12pt;
  line-height: 1.6;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: 12pt;
  line-height: 2.3;
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button */

button {
  background-color: #854071;
  font-size: 8pt;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: none;
  padding: 4px;
  color: white;
  border-radius: 4px;
  margin-left: 10px;
}

/* Footer */

#wrapper {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

#footer {
  color: #fff;
  background-color: #492548;
  width: 100%;
  float: left;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footerFloat {
  float: left;
  min-width: 200px;
  padding-left: 35px;
}

#column-1 {
  width: 25%;
  margin-right: 60px;
}

#column-2 {
  width: 10%;
}

#column-3 {
  width: 10%;
}

#column-4 {
  width: 25%;
  margin-right: 35px;
}

/* Contact & Icons in Footer */

section {
  text-align: left;
}
.contact {
  display: inline-block;
  text-align: left;
}
.contact ul {
  padding-left: 0;
}
.contact li {
  display: flex;
  align-items: center;
  margin-top: -16px;
}
.contact li:last-child {
  margin: 0;
}
.contact a {
  color: white;
  text-decoration: none;
}

.contact p {
  color: white;
  line-height: 1.4;
  margin-left: 10px;
  font-size: 10pt;
}
